* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  background:#fff;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: none;
  border-radius: 10px;
  z-index: 10;
  background-color: #ebf4f4;
  padding: 3em;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5em;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  color: #777;
  background: none;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  top: -1.2em;
  right: -1.2em;
}

.modal-body {
  padding: 1.5em;
  background-color: #fff;
}

.overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.donate-buttons {
  cursor: pointer;
  background-color:#00AD86;
  color:#FFF;
  padding:0.5em;
  width: 75px;
  border:0;
  border-radius:5px;
  font-size:1.2em;
  margin: 1em;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
