@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

.hide-big {
  display: none;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5em 1.5em;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
li {
  list-style: none;
}

li a {
  margin-right: 1em;
}
a {
  text-decoration: none;
  color: black;
}
nav button {
  margin-left: 2em;
  cursor: pointer;
  padding: 1em;
  background: linear-gradient( to right,  #fff 50%, #2bb359 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all ease .3s;
}

nav button:hover {
  background-position: right bottom;
}

nav .logo {
  font-size: 2em;
  font-weight: bold;

}

.background-light {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 60vh;
  background-color: #e5f3eb; 
  z-index: -1;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 3em;
  margin-top: 2em;
  z-index: 15;
 
}

h1 {
  text-align: center;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 80vh;
}
.showcase-video {
  width: 70%;
  height: 100%;
  overflow: hidden;
  position: relative
}
iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.3);
}

h2 {
  font-size: 2em;
  margin-bottom: 1em;
  color: #c8d1e0;
}



.donation-progress {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.3);
}
.donation-progress p {
  word-wrap: wrap;
  padding: 0.5em;
  color: #888;
}

b {
  color: #000;
}
.donation-progress button {
  cursor: pointer;
  width: 50%;
  padding: 1.75em;
  align-self: center;
  border-radius: 30px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: #2bb359;
}

.bottom-desc {
  margin-top: 3em;
}

button:hover {
  opacity: 0.8;
}

span {
  font-weight: bold;
  font-size: 2.75em;
  display: block;
  margin-bottom: 0.5em;
}

.prog-bar {
  margin: 0 1em;
  background-color:#b6b6d3;
  
}

.prog-bar>div {
  background-color: #2bb359;
  width: 51.22%;
  /* Adjust with JavaScript */
  height: 0.3em;
}



.fa-rotate-135 {
  -ms-transform:rotate(135deg);     
  -webkit-transform:rotate(135deg); 
  transform:rotate(135deg);         
}
.keywords {
  margin: 3em 0 0 3em;
}
.keywords a{
  border: 1px solid #000;
  border-radius: 30px;
  padding: 0.5em;
}

.campaign-info-wrap {
  width: 100%;
  position: relative;
  padding: 3em;
  display: flex;
}

.campaign-story-sec {
  width: 50%;
  margin: 4em 2em 2em 11em;
  max-width: 960px;
}

.campaign-story-sec h3 {
  margin: 3em 0 0em -.5em;
  font-weight: bold;
  font-size: 3em;
  border-bottom: 1px solid #000;
  width: 100%;

}

.green-shade {
  background: #dff5e8;
  margin:0 0 3em -1.5em;
  padding-top: 0;
  height: 200px;
  width: 100%;
}
.wrap {
  padding: 1em 2em;
}

.wrap h5 {
  font-size: 1.5em;
}
.wrap p {
  font-size: 1em;
}

h4 {
  font-weight: bold;
  font-size: 1.8em;
  text-decoration: underline;
}

.campaign-story p {
  font-size: 1.3em;
}

.campaign-story img {
  width: 80%;
  height: auto;
}

.contain {
  display: flex;
  flex-direction: column;
  margin-top: -6em;
}
.organizer-info {
  width: 350px;
  height: 350px;
  box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.3);
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 3em;
}


.organizer-info h6, .organizer-info .fas{
  color: #57c282;
  margin: 0;
  padding:0;
}

.organizer-info h6 {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0.5em
}
.organizer-info img {
  width: 40px;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-top: 1em;
}

.line {
  border-left: 2px solid #888;
  height: 15px;
  padding: 20px 0;
}

.grey {
  color: #888;
  margin-top:0;
  font-size: 1em;
}

h7 {
  font-size: 1.1em;
}

.organizer-info p {
  margin-top: 0;
  padding-top: 0;
}


.hide-desktop {
  display: none;
}

.donors {
  display: flex;
  flex-direction: column;
}

ul  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.donors img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

img.to-reduce{
  width: 25px;
  height: 25px;
}

.donors li p {
  margin-left: 2em;
  font-size: 0.9em;
  color: #888;
}

.donors li {
  margin-bottom: 0.3em;
}

.donors h1 {
  text-align: left;
}
 .donors button {
  font-weight: 800;
  font-size: 1.1em;
  text-transform: uppercase;
  border: initial;
  background-color: initial;
  color: #57c282;
  cursor: pointer;
  text-align: center;
 }

 .show-more {
   display: none;
 }

 .see-less {
   display: hidden;
 }

 .show-more-button {
   display: none;
 }

 button:focus{
   outline: 0;
 }

 #ul2, #ul3 {
  margin-top: 0;
  margin-bottom: 0.3em;
 }

 ul {
   margin-bottom: 0.3em;
 }


/* Media Querries Responsive */

@media(max-width: 768px){
  body {
    font-size: 14px;
  }
  .show-small {
    display: block;
  }
  nav {
    padding: 0.5em 2em;
  }

  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }
  .main {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 4.5em 0;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
  }

  .showcase-video {
    width: 100vw;
    height: 65vh;
  }

  iframe {
    border-radius: 0;
  }

  .donation-progress {
    width: 100%;
    height: 50%;
    text-align: left;
    padding: 1em 3em;
    margin-top:0;
    border-radius: none;
    box-shadow: none;
  }

  .donation-progress h3 {
    font-size: 1.4em;    
    margin-bottom: 1em;
    font-weight: normal;
  }

  .donation-progress h2 {
    font-size: 1em;
    margin-bottom: 0.2em;
    padding: 0;
  }
  .donation-progress .bottom-desc {
    font-size: 1em;
    margin-top:0;
    padding: 0;
    text-align: center;
    padding: 0.5em;
    width: 50%;
    align-self: center;
  }
  span {
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    color: #2bb359;
  }

  .prog-bar {
    margin: 0;
  }
  
  .campaign-info-wrap {
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
  }


  .campaign-story-sec {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .campaign-story-sec h3 {
    padding:1em 0;
    margin:0;
    text-decoration: none;
    border: none;
  }

  .campaign-story {
    width: 100%;
  }
  
  .show-more-mobile {
    display: none;
  }

  .button-story{
    font-weight: 800;
    font-size: 1.1em;
    text-transform: uppercase;
    border: initial;
    background-color: initial;
    color: #57c282;
    text-align: center;
    cursor: pointer;
   }

  .button-story {
    opacity: 0.7;
  }

  .green-shade {
    width: 100%;
    margin:0;
    padding:0;
  }

  .organizer-info {
    margin-top: 10em;
    box-shadow: none;
    width: 100%;

  }

  .hide-button {
    display: none;
  }
}
